{% extends "base.html" %}
{% load static %}
{% load bootstrap_icons %}
{% load mathfilters %}
{% block title %}
My Blog
{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/personal.css'%}" />
<section name="blogInfo">
    <div class="overflow-hidden ms-5 me-5 ps-2 pe-2">
        <div class="container" >
            <div class="row">
                <div class="personal-banner">
                    <img src="{% get_media_prefix %}{{ user.profile.blog_image}}" >
                    <div class="centered-text-img text-light">
                        <h2>{{user.profile.blog_title}}</h2>
                    </div>
                </div>
            </div>
            <div class="mt-3 bg-dark">
                <div class = "row text-light text-center p-sm-5">
                    <div>
                       {{user.profile.blog_description}}
                        <br/>
                        <br/>
                        --{{user.date_joined.date}}--
                    </div>
                </div>
            </div>

          {% block personalPost %}{% endblock %}
</section>
{% endblock %}