
<!DOCTYPE html>
{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

<!-- my version of bootsrap 5 -->
<!-- https://pypi.org/project/django-bootstrap5/ -->
<!-- if you have a better ver pls tell me -->

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		{% comment %} <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}" /> {% endcomment %}
	</head>
	<body class='bg-secondary '>
		<!-- <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
			Madani Blog
		</nav> -->

			<nav class="navbar navbar-expand-sm  bg-light">
			<div class="container-fluid">
			  <a class="navbar-brand link-dark ms-5 " href="">Madani Blog</a>
			  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
				<span class="navbar-toggler-icon"></span>
			  </button>
			  <a class="nav-link float-end link-secondary me-5" href="">Profile</a>
			</nav>

			<nav class="navbar navbar-expand-sm navbar-dark bg-dark ms-5 me-5 ps-2 pe-2">
			  <div class="collapse navbar-collapse" id="mynavbar">
				<ul class="navbar-nav me-auto">
				  <li class="nav-item">
					<a class="nav-link" href="">Home</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="">My Blogs</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="">profile</a>
				  </li>
				</ul>

				<form class="d-flex">
				  <input class="form-control me-2" type="text" placeholder="Search">
				  <button class="btn btn-primary" type="button">Search</button>

				</form>
			  </div>
			</div>
		  </nav>
		  {% block content %}{% endblock %}
	</body>
</html>
