{% extends 'base.html' %}
{% load static %}

{% block content %}

  <h2>Tag: {{ tag.label_tag }}</h2>
  
  {% for post in tag_posts %}

    <div class="container ">
      <div class="row g-0">
        <div class="card-body"></div>
        <div class="col-sm-8 bg-light" style="height: 200px;">
          <div class="card-body">
            <h3 class="card-title">{{ post.title }}</h3>
            <div class="mb-2 text-muted">{{ post.creation_datetime|date:'F d, Y' }} by {{ post.author }}</div>
            <p class="card-text">{{ post.content|truncatechars:100 }}</p>
            <a href="#" class="">
              Continue reading
            </a>
          </div>
        </div>
        <div class="col-sm bg-light" style="height: 200px;" >
            <img src="{{ post.image.url }}" alt="" class="card-img-top">
        </div>
      </div>
    </div>
    
  {% empty %}
    <p>No posts found for this tag.</p>
  {% endfor %}

{% endblock %}